nav {
    display: flex;
    /* flex-direction: row; */
    background-color: rgb(53, 53, 53);
    width: 100%;
    border-radius: 10px;
    border: solid;
    border-color: rgb(255, 193, 78);
    color: whitesmoke;
}

.access-buttons {
    display: grid;
    grid-template-columns: auto auto;
    /* gap: 5px; */
    align-items: center;
    margin-left: 600px;

}

.access-buttons2 {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.logo-and-location {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    align-items: center;
    margin-left: 250px;

}

.access-button1 {
    height: 35px;
    width: 72px;
    border-radius: 15px;
    margin-left: 17px;
    border: solid;
    color: rgb(53, 53, 53);
    border-color: orange;
    background-color: orange;
    font-size: 16px;
    cursor: pointer;
    font-family: Didot, serif;
    font-weight: bold;
}

.access-button2  {
    height: 35px;
    width: 72px;
    border-radius: 15px;
    margin-left: 17px;
    border: solid;
    color: orange;
    background-color: rgb(53, 53, 53);
    font-size: 16px;
    cursor: pointer;
    font-family: Didot, serif;
}

.cart {
    padding-top: 30px;
    margin-right: 400px;
    padding-left: 10px;
    cursor: pointer;
    color: orange;
}

.header {
    font-style: italic;
    font-size: 25px;
    font-family: Didot, serif;
}

.z {
    color: orange;
}