.topnavbar {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    /* justify-content: space-evenly; */
    /* background-color: rgb(53, 53, 53); */
    max-width: 100vw;
    /* background-color: red; */
    background-color: black;
    height: auto;
    width: 99.8%;
    text-decoration: none;
    border: solid;
    border-color: rgb(255, 193, 78);
    color: whitesmoke;
    top:0px;
}
.logo-and-location{
width: 20%;
margin-right: 20%;
/* float: left; */
}
.li{
    width: 90%;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-family: Didot, serif;
    width: 90%;
    margin-top:20px
    
}

.access-buttons {
    display: grid;
    margin-bottom: 10px;
    cursor: pointer;
    grid-template-columns: auto auto;
    /* gap: 1px; */
    align-items: center;
    margin-right:1% ;

}

.access-button1:hover {
  background: grey     
}

.access-button2:hover {
    background: white;   
  }

.access-button1 {
    height: 35px;
    width: 100px;
    border-radius: 15px;
    margin-left: 17px;
    border: solid;
    color: black;
    border-color: orange;
    background-color: orange;
    font-size: 16px;
    cursor: pointer;
    font-family: Didot, serif;
    font-weight: bold;
}

.access-button2  {
    height: 35px;
    width: 100px;
    border-radius: 15px;
    margin-left: 17px;
    border: solid;
    color: orange;
    background-color: black;
    font-size: 16px;
    cursor: pointer;
    font-family: Didot, serif;
}

.cart {
    padding-top: 15px;
    margin-right: 100px;
    padding-left: 20px;
    cursor: pointer;
    color: orange;
}

.cart:hover {
    transform: scale(2);     /* Equal to scaleX(2) scaleY(2) */
}

.header {
    font-style: italic;
    font-family: Didot, serif;
    font-size: 30px;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 0;
    margin-right: 580px;
}

h6{
    margin-top: 0;
    margin-bottom: 2px;
    margin-left: 40px;
    color: rgb(195, 194, 194);
}

.z {
    color: orange;
}

.topnavbar a {
    padding-top: 20px;
    width: 100px;
    text-decoration: none;
    color:white;
    text-shadow:orange;
    font-family: var(--chakra-fonts-body)
  }
  
  li {
    display: inline;
    -webkit-box-align: center;
    align-items: center;
  }

.button-log{
    height: 35px;
    width: 80px;
    border-radius: 5px;
    margin-top: 10px;

    margin-right: 20px;
    border: solid;
    color: black;
    border-color: orange;
    background-color: orange;
    font-size: 16px;
    cursor: pointer;
    font-family: Didot, serif;
}  

.material-symbols-outlined.profile{
    color:white;
}

/* .material-symbols-outlined.account{
    color:white
} */


@media (max-width: 1100px) {
    .topnavbar {
        width: 100vw;
    }
    ul{
        margin-left: -10vw;
        margin-right: 10vw;
    }
    div.access-buttons{
        margin-left: -34vw;
    }
}


@media (max-width: 700px) {
    ul {
      margin-left: -100px;
      gap: 15px;
      /* margin-right: -50vw; */
    }
    p.header{
        font-size: 20px;
        margin-left: -10px;
        margin-top: 20px;
    }

    .button-log{
        width: 60px;
        font-size: 13px;
    }

    h6{
        margin-left: 10px;
        font-size: 8px;
    }

    div.access-buttons{
        margin-left:-90px;
    }
    
    a{
        font-size: 12px;
        padding: 0;
    }
  }


  @media (max-width: 1000px) {
    ul {
      margin-left: -100px;
      gap: 15px;
      /* margin-right: -50vw; */
    }
    p.header{
        font-size: 30px;
        margin-left: -10px;
        margin-top: 10px;
    }

    .button-log{
        width: 60px;
        font-size: 13px;
    }

    h6{
        margin-left: 10px;
        font-size: 8px;
    }

    div.access-buttons{
        margin-left:-90px;
    }
    
    a{
        font-size: 12px;
        padding: 0;
    }
  }


  @media (max-width: 1200px) {
    ul {
      margin-left: -100px;
      gap: 15px;
     
    }
    p.header{
        font-size: 30px;
        margin-left: -40px;
        margin-top: 10px;
    }

    .button-log{
        width: 60px;
        font-size: 13px;
    }

    h6{
        margin-left: 10px;
        font-size: 8px;
    }

    div.access-buttons{
        margin-left:-90px;
    }
    
    a{
        font-size: 16px;
        padding: 0;
    }
  }

  @media (max-width: 600px) {
    ul {
      margin-left: -100px;
      gap: 15px;
     
    }
    p.header{
        font-size: 25px;
        margin-left: -20px;
        margin-top: 20px;
    }

    .button-log{
        width: 48px;
        font-size: 10px;
        margin-left: -2px;
    }

    h6{
        margin-left: 10px;
        font-size: 7px;
    }

    div.access-buttons{
        margin-left:-90px;
    }
    
    a{
        font-size: 12px;
        padding: 0;
    }
  }

  @media (max-width: 500px) {
    ul {
      margin-left: -120px;
      gap: 7px;
     
    }
    p.header{
        font-size: 15px;
        margin-left: -40px;
        margin-top: 20px;
    }

    .button-log{
        width: 40.9px;
        height: 20px;
        font-size: 6.9px;
        margin-left: -6px;
    }

    h6{
        margin-left: -30px;
        font-size: 7px;
    }

    div.access-buttons{
        margin-left:-90px;
    }
    
    a{
        font-size: 8px;
        padding: 0;
    }

    .cart {
        width: 10px;
        height: 10px;
    }
  }

.material-symbols-outlined.account{
    color:orange;
    font-size: 38px;
    margin-top: 10%;
    margin-bottom: auto;
    align-self: center;
    margin-right: 2%;
    cursor: pointer

}


.authenticated-buttons{
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    margin: 0 5px;

}
