.open-sidebar{
    width: 30%;
    height: 100vh;
    background-color:#2c4047;
    display: block;
    position: fixed;
    overflow-y:scroll ;
    border-right: solid 1px white ; 
    margin-top: 0
}

.material-icons.md-36.arrow_back{
    color: white;
}