.service-card {
    width: 80%;
    border-radius: 10px;
    border: solid;
    border-color: black;
    border-width: 2px; 
    color: rgb(232, 200, 140);
    margin-bottom: 4%;
   
  }

.service-name{
    margin-top:0;
    margin-bottom: 0;
    
}

.service-rating{
    margin-top:0;
    
}

.service-cuisine{
    margin-top:0;
    font-weight: 50;
    
}
  
.service-image {
width: 100%;
border-color: black;
height: 250px;
border-radius: 5px;
object-fit: cover;

}
  
.provider-image {
width: 50px;
height: 50px;
align-items: flex-end;
border-radius: 50%;
}
  
.service-details {
margin-top: 10px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.column {
display: flex;
flex-direction: column;
justify-content: center;
}




