.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-color: white;
    height: 100vh;
    gap: 5%;
    margin-top: 10vh;
  }
  
  .food-card {
    display: flex;
    width: 400px;
    margin-left: 67px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 100px 0px;
    background-color:beige;
    margin-top: 60px;
   
  }
  
  .food-image {
    width: 400px;
    object-fit: cover;
    border: solid;
    border-color: black;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .food-name {
    font-size: 10px;
    font-weight: bold;
    color: #333333;
    /* margin-bottom: 10px; */
  }
  
  .food-description {
    font-size: 16px;
    color: #666666;
    margin-bottom: 10px;
  }
  
.food-card div{
   position: absolute;
   font-family: didot,serif;
   color:black;
   margin-right: 5vw;
   width: 300px;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3)
}  
  