.login p{
    color: white;
    
}

.login{
    margin-top: 19%;
    margin-left: 38%;
    margin-right: 35%;
    border:solid;
    border-color: orange;
    text-align: center;
    /* color: orange; */
    box-shadow: 10px 5px 5px orange;
}

.logbtn{
    margin-top: 20px;
    margin-left: 37px;
    margin-right: 20px;
    display:grid;
    width:400px;
    gap:20px;
    padding-bottom: 25px;
    
}

.login-hdr{
    font-size: 30px;
    font-family: didot,serif;

}

.login input{
    border: solid;
    /* color: orange; */
    background-color: whitesmoke;
    height: 30px;
    border-radius: 10px;
    font-family: didot,serif;
}

.submit-login {
    border: solid;
    border-color: orange;
    color: orange;
    background-color: black;
    font-family: didot,serif;
    font-weight: bold;
    border-width: 2px;
}

@media (max-width: 500px) {
    .login{
        margin-top: 60%;
        margin-left: 15%;
        margin-right: 5%;
        width: 300px;
        height: 240px;
        border:solid;
        border-color: orange;
        text-align: center;   
    }
    form.logbtn{
        width: 250px;
        margin-left: 30px;
    }

    .login p{
        font-size: 13px;
    }
    
    .login input{
        font-size: 12px;
    }
}
