.register-user input{
    display: block;
    border: solid;
    border-color: orange;
    background-color: whitesmoke;
    height: 30px;
    border-radius: 10px;
    font-family: didot,serif;
}


.register-provider input{
    display: block
}

.register-provider select{
    display: block
}

.register{
    color:white;
    border: solid;
    border-color: orange;
    margin-top: 15%;
    margin-left: 35%;
    margin-right: 35%;
    padding-left: 20px;
    text-align: center;
    box-shadow: 10px 5px 5px orange;
    margin-bottom: 30%;
}

.register-hdr{
    color: white;
    font-family: didot,serif;
    font-size: 30px;
    font-weight: bold;
}

.register-btn{
    margin-top: 20px;
    margin-left: 37px;
    margin-right: 20px;
    display:grid;
    width:400px;
    gap:20px;
    margin-bottom: 50px;
    /* border: solid; */
    color: orange;
    /* background-color: whitesmoke; */
    /* height: 30px; */
    border-radius: 10px;
    font-family: didot,serif;

}

.register-ziner{
    margin-left: 37px;
    margin-right: 20px;
    display:grid;
    width:400px;
    gap:20px;
    padding-bottom: 25px;
    margin-bottom: 10px;
    /* border: solid; */
    color: orange;
    /* background-color: whitesmoke; */
    /* height: 30px; */
    border-radius: 10px;
    font-family: didot,serif;

}

.register-ziner input{
    border: solid;
    border-color: orange;
    background-color: whitesmoke;
    /* height: 30px; */
    border-radius: 5px;
    font-family: didot,serif;

}

label{
    text-align: left;
}

.profile-picture{
    all: no;
    border: none;
    margin: none;
    padding: none;
}
.files{
    text-align: center;
    margin-left: 40px;
    margin-bottom: 20px;

}

.optional{
    color: orange;
    background-color: black;
    font-family: didot,serif;
    border: solid;
    display: grid;
    margin-left: 170px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.or{
    color: white;
    font-family: didot,serif;
    font-weight: bold;
    font-size: 20px;
}

.optional2{
    color: whitesmoke;
    border: solid;
    display: grid;
    margin-left: 185px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.label1{
    border: solid;
    color: orange;
    width: 100px;
    background-color: black;
    border-radius: 5px;
}

.labelhd{
   
    color: white;
}

@media (max-width: 500px) {
    .register{
        height: 400px;
        width: 300px;
        margin-top: 45%;
        margin-left: 5%;
        margin-right: 5%;
        margin-left: 10%;
    }

    .register-user input{
        width: 220px;
        background-color: whitesmoke;
        height: 10px;
        border-radius: 5px;
        margin-left: -10px;
        font-family: didot,serif;
    }

    button.optional{
        color: orange;
        background-color: black;
        font-family: didot,serif;
        border: solid;
        display: grid;
        margin-left: 60px;
        margin-top:10px;
    }
    
    button{
        margin: 0;
    }

.register-ziner label{
    margin-bottom: 0;
    margin-top: 0;
}
}