.media {
    z-index: -2;
    left: 0;
    top: 0;
    margin-top: 5px;
    content: '';
    /* overflow: hidden; */
    /* display: block; */
    width: 100vw;
    height: 90vh;
    /* object-fit: cover; */
    animation: fade 2s infinite;
    background: rgba(0, 0, 0, 0.65);
    opacity: .6;
    position: relative;
    /* transition: opacity 900s ease-in-out; */
}

/* .styles.header {
    font-size: 800px;
} */

.banner {
    margin-top: 15px;
}

.banner h2 {
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
    font-size: 170px;
    color: transparent;
    font-style: italic;
    font-family: Didot, serif;
    text-transform: uppercase;
}

@media (max-width: 1400px) {
    .banner h2 {
        font-size: 9rem;
        margin-left: -50px;
    }
}

@media (max-width: 1200px) {
    .banner h2 {
        font-size: 150px;
        margin-left: -200px;
        margin-top: 80px;
    }

    .media{
        height: 650px;
    }
}

@media (max-width: 1000px) {
    .banner h2 {
        font-size: 130px;
        margin-left: -200px;
        margin-top: 80px;
    }

    .media{
        height: 650px;
    }
}

@media (max-width:950px) {
    .banner h2 {
        font-size: 90000px;
        margin-left: -200px;
        margin-top: 80px;
    }

    .media{
        height: 650px;
    }
}

@media (max-width: 1100px) {
    .banner h2 {
        font-size: 135px;
        margin-left: -200px;
        margin-top: 80px;
    }

    .media{
        height: 650px;
    }
}

@media (max-width: 800px) {
    .banner h2 {
        font-size: 90px;
        margin-left: -90px;
    }
}

@media (max-width: 600px) {
    .banner h2 {
        font-size: 70px;
        margin-left: -90px;
        margin-top: -5px;
    }
    .media{
        height: 550px;
    }
}

@media (max-width: 500px) {
    .banner h2 {
        font-size: 50px;
        margin-left: -90px;
        margin-top: -80px;
    }
    .media{
        height: 300px;

    }
}
    
    

    &:hover .intersinee-span:nth-child(1) {
        transform: translateY(-1rem);

        @media only screen and (max-width: 1100px) {
            transform: translateY(-0.7rem);
        }

        @media only screen and (max-width: 900px) {
            transform: translateY(-0.55rem);
        }

        @media only screen and (max-width: 700px) {
            transform: translateY(-0.47rem);
        }

        @media only screen and (max-width: 480px) {
            transform: translateY(-0.4rem);
        }
    }

    &:hover .intersinee-span:nth-child(2) {
        transform: translateY(1rem);

        @media only screen and (max-width: 1100px) {
            transform: translateY(0.7rem);
        }

        @media only screen and (max-width: 900px) {
            transform: translateY(0.55rem);
        }

        @media only screen and (max-width: 700px) {
            transform: translateY(0.47rem);
        }

        @media only screen and (max-width: 480px) {
            transform: translateY(0.4rem);
        }
    }

    &:hover .intersinee-span:nth-child(3) {
        opacity: 1;
        transition: opacity 700ms ease;
    }

    & .intersinee-span:nth-child(1),
    & .intersinee-span:nth-child(2) {
        position: absolute;
        text-align: center;
        top: 0;
        left: 89%;
        color: white;
        transition: 0.8s;
        overflow: hidden;
        text-shadow: 3px 0px 7px rgba(208, 164, 17, 0.8), 
	  -3px 0px 7px rgba(81,67,21,0.8), 
	  0px 4px 7px rgba(81,67,21,0.8);
    }

    & .intersinee-span:nth-child(1) {
        clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 50%);
    }

    & .intersinee-span:nth-child(2) {
        clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    }

    & .intersinee-span:nth-child(3) {
        position: absolute;
        top: 50%;
        left: 138%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 350ms ease;
        font-size: 40px;
        color: #fff;
        background: black;
        fill-opacity: 30%;
        background: rgba(0, 0, 0, 0.5) ;
        
        width: 92%;
        text-align: center;
        letter-spacing: 0.5rem;
        
        line-height: 100%;
        


        @media only screen and (max-width: 1100px) {
            font-size: 1.2rem;
        }

        @media only screen and (max-width: 900px) {
            font-size: 1rem;
            width: 97%;
            letter-spacing: 4px;
        }

        @media only screen and (max-width: 1500px) {
            
         font-size: 0.85rem;
        
        }

        @media only screen and (max-width: 700px) {
            font-size: 0.85rem;
            width: 96%;
            letter-spacing: 3px;
            word-spacing: 0.5rem;
        }

        @media only screen and (max-width: 480px) {
            font-size: 0.65rem;
            letter-spacing: 2px;
            word-spacing: 0.2rem;
        }
    }



