.mheader{
    color: black;
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
    font-family: didot,serif;
}

.state{
    text-align: center;
    font-size: 50px;
    color: black;
    font-family: didot,serif;
}

.statehd{
    color: black;
    margin-left: 36%;
    font-size: 30px;
    font-family: didot, serif;
}

.location{
    color: black;
    border: solid;
    border-color: orange;
    background-color: rgb(251, 249, 234);
    padding-bottom: 10%;
    margin-bottom: 100px;
    height: 790px;
}

@media (max-width: 700px) {
    .statehd{
        font-size: 20px;
        margin-left: 170px;
    }
    
}

@media (max-width: 800px) {
    .statehd{
        font-size: 30px;
        margin-left: 170px;
    }
    
}

@media (max-width: 600px) {
    .statehd{
        font-size: 20px;
        margin-left: 140px;
    }

    .state{
        font-size: 40px;
        color: black;
        font-weight: didot,serif;
    }

    
}

@media (max-width: 500px) {
    p.statehd{
        font-size: 20px;
        margin-left: 140px;
    }

    p.state{
        font-size: 40px;
        color: black;
        font-weight: didot,serif;
    }

    .map-container {
        width: 400px;
        height: 20vh;
    }
    
}

