.mheader{
    color: black;
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
    font-family: didot,serif;
}

.state{
    text-align: center;
    font-size: 50px;
    color: black;
    font-family: didot,serif;
}

.statehd{
    color: black;
    margin-left: 36%;
    font-size: 30px;
    font-family: didot, serif;
}

.location{
    color: black;
    border: solid;
    border-color: orange;
    background-color: rgb(251, 249, 234);
    padding-bottom: 10%;
    margin-bottom: 100px;
    height: 790px;
}

