.profile{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    text-align: center;
    background-color: beige;
    position:absolute;
    top:100px;
    right: 0;
    /* margin-top: 100px; */
    width: 200px;
    height: 100px;
    cursor: pointer
}