.order-received-card{
    margin-bottom: 30px;
    color: black;
    display: flex;
    flex-direction:  column;
    background-color: bisque;
    width: 60%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    padding-right: 50px;

    /* padding-left: 10%; */

    /* text-align: center; */

}

/* .order-card p{
    padding-left: 100px;

} */
.quantity{
    background-color: rgb(242, 198, 117);
    width: 20px;
    height: 20px;

    text-align: center;
    margin-right: 10px

    /* border-radius: ; */
}

.amount-and-name{
    display: flex;
    flex-direction: row;
    margin-top: 0;
    height: 20px;
    margin-bottom: 15%;
}
.order-details img{
    width: 100px;
    height: 90px;
    border-radius: 10px;
    margin-bottom: 0;
}

.order-details{
    padding-left: 100px;

}

.order-details p{
    margin-top: 1%;

}

.user-hero{
    width: 65px;
    height: 60px;
    border-radius: 30px;
}

.card-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card-header{
    padding-left: 50px;

}

.card-header h1{
    margin-bottom:0
}
.order-caption p{
    margin-top:0
}

.order-caption{
    display: flex;
    flex-direction: column;
    padding-left: 10px;

    /* align-items: center; */

}

.view-details{
    padding-left: 50px;
    cursor: pointer;

}

.ordered-items{
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
}