.contact{
    color: black;
    border: solid;
    border-color: orange;
    background-color: rgb(251, 249, 234);
    padding-bottom: 10%;
    margin-bottom: 100px;
}

.aheader{
    color:black;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    font-family: didot,serif;
    margin-left:30px;
}

.about-img{
    display: flex;
    border-radius: 20px;
    flex-direction: row;
    border-width: 5px;
    /* object-fit: contain; */
    border-color:orange;
    object-fit: cover;
}

.about-image{
    display: flex;
    border-radius: 20px;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.about-imsg{
    object-fit:cover;
    border-radius: 20px;
    border-width: 5px;

}


h5.img-sub1{
    color: black;
    text-align: center;
    font-size: 15px;
    font-family: didot,serif;
}

p.statement{
    text-align: center;
    font-size: 30px;
    font-family: didot,serif;
    margin-bottom: 100px;
}

.about-image {
    display: flex;
    justify-content: space-around;
    opacity: 0;
  }
  
  .slide-in {
    animation: slideInAnimation 5.5s ease forwards;
  }
  
  @keyframes slideInAnimation {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .about-image {
    display: flex;
    justify-content: space-around;
  }
  
  .about-image div {
    position: relative;
  }
  
  .about-image img {
    width: 300px;
    height: 300px;
    border: 5px solid orange;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .about-image h5 {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

p.about-blurb.slide-in{
    text-align: center;
    font-size: 24px;
    font-family: didot,serif;
    margin-bottom: 60px;
    margin-right: 10vw;
    margin-left: 10vw;
}  

  .about-creator {
    position: relative;
    cursor: pointer;
  }
  
  .about-description {
    position: absolute;
    top: 89;
    left: 0;
    border-radius: 10px;
    
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 20px;
    display: none;
    
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .about-creator:hover .about-description {
    display: flex;
    opacity: 1;
  }  

  .about-creator:hover {
    transform: translateY(-10px);
}  

@media (max-width: 700px) {
  .about-image img {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 800px) {
  .about-image img {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 600px) {
  .about-image img {
    width: 120px;
    height: 120px;
  }

  p.about-blurb.slide-in{
     font-size: 15px;
  }
}

@media (max-width: 500px) {
  .about-image img {
    width: 80px;
    height: 80px;
  }

  p.about-blurb.slide-in{
     font-size: 10px;
     margin-right: 5vw;
     margin-left: 5vw;
  }

  p.aheader{
    font-size: 25px;
  }

  p.statement{
    font-size:21px;
  }
}

