.add-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 20rem;
    height: 2.5rem;
    align-items: center;
    background-color: orange;
    font-family: didot,serif;
    font-weight: bold;
    font-size: 14pt;
    border-radius: 20px;
    cursor: pointer
   
    
}

.button-container{
   display: flex;
   flex-direction: row;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 0;
}

.store{
    display: block
}

.inactive-store-items{
    display:none
}