.subnavbar {
    margin-top: 3%;
}

.category-buttons {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    width: 40%;
    overflow-y: hidden;
    overflow-x: scroll;

}

.category-buttons button{
    margin-left: 2%;
    border-radius: 7px;
    border-color: orange;
    background-color: orange;
    height: 2.5rem;
    color: black;
    font-family: Didot, serif;
    text-shadow:orange;
    
    
}

.search input {
    margin-bottom: 1%;
    /* border-color: orange; */
    border: solid 1px orange;
    /* border-radius: 15px; */
    width: 25rem;
    height: 1rem;
    padding: 12px 14px;


}

.material-symbols-outlined.search{
    color: black;
    font-size: 32px;
}

.search-icon{
    background-color: orange;
    height: 1rem;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   
}


.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
}