.service-hero-section{
  width: 90vw;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;


}

  .hero-image{
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 100%;
    margin-bottom: 2%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
  }

  .provider_profile_picture{
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 75px;
  }
  
  .provider-details{
    color: beige;
  }

  .cuisine-name{
    margin-top: 0;

  }

  .blurb{
    font-size: 18px;
  }

  .provider-details h1{
    margin-bottom:1%
  }

  .img-details{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    gap: 5%
  }

  .material-symbols-outlined.pen {
    color: orange;
    font-size: 35px;


  }

  .edit{
    display: flex;
    flex-direction: row;
    width: 40px;
    height: 40px;
    margin-bottom: 6%;
    justify-content: center;
    align-items: center;
    background-color: beige;
    border-radius: 20px;
    cursor: pointer;
  }

  .edit:hover {
    border: 1.5px solid orange
  }

  

  .details-edit{
    display: flex;
    flex-direction: row;
    gap:30%;
    align-items:flex-end;
    
  }

  