.hero-section {
    background-image: url('https://cms-b-assets.familysearch.org/dims4/default/bf2d93e/2147483647/strip/true/crop/800x500+0+0/resize/2480x1550!/format/webp/quality/90/?url=https%3A%2F%2Ffamilysearch-brightspot.s3.amazonaws.com%2F89%2F3f%2F1a23c4a6fe52a96d2a6d2586cb90%2Fworld-cuisine.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-content {
    text-align: center;
    color: #fff;
    /* mix-blend-mode:exclusion; */
    color:rgb(0, 0, 0);
    font-size: 80px;
    
  }
  
  .hero-content h1 {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 70px;
    font-family: didot,serif;
    text-align: center;
  }
  
  .hero-content p {
    font-size: 28px;
    margin-bottom: 150px;
    font-family: didot,serif;

  }
  
  